<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <link rel="stylesheet" th:href="@{/css/estilosLogin.css}">
</head>

<body>
  <main>
    <section>
      <div class="container">
        <div class="login-form">
          <h1>Ingresar</h1>
          <form th:action="@{/login}" method="post">
            <input type="text" name="usuario" placeholder="username">
            <input type="password" name="clave" placeholder="password">
            <input type="submit" name="" value="Login">
          </form>
        </div>
      </div>
    </section>
  </main>
</body>
</html>